
body {

}
/* body color */
.body_color 
{background-color: rgb(152,186,204);
}
.nav_bottom_color
{background-color: rgb(172,186,204);
}
/* zyto-logo-white: */
.zyto_logo_white 
{box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);}
.nav_back{
background: #2D456E;
}
/* Login Container */
	.Login_Container 
	{

	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);}
	
/* Form Textbox bg: */
.Form_Textbox_bg 
{
width: 100%;

background: rgba(246, 246, 246, 0.5);
box-shadow: 0 10px 40px 0 rgba(0,0,0,0.15);
border-radius: 3px;
border-color: rgba(246, 246, 246, 0);


/* Form Text: */
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 18px;
color: #ffffff;
letter-spacing: 0.52px;

}
.Spacer{
	margin: 15px;
}
/* webkit solution */
::-webkit-input-placeholder { text-align:left;font-size: 18px; }
/* mozilla solution */
input:-moz-placeholder { text-align:left;font-size: 18px; }

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  margin:0px auto;
  width:50px;
  text-align:center;
  
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  5px;}
.right-addon input { padding-right: 5px; }


/* Button bg: */
.Button_bg 
{background: #2D456E;
box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);
border-radius: 2px;
width:80%;}


/* Button text: */
.Button_text1
{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, Bold;
font-size: 11px;
color: #FFFFFF;
letter-spacing: 0.2px;
line-height: 12px;}

/* Button text: */
.Button_text 
{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0.9px;
line-height: 36px;}

/* Forgot your Password?: */
.Forgot_your_Password 
{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
color: #FFFFFF;
letter-spacing: 0.2px;
line-height: 44px;}

/* Bottom Bar bg: */
.Bottom_Bar_bg 
{
/* opacity: 0.15; */
 z-index:999;
background: rgba(0,0,0,0.15);}
.Bottom_Bar_bg1 
{
/* opacity: 0.15; */
 z-index:999;
background: rgba(152,186,204) !important;}

/* Already have an account? Sign in.: */
.Create_Account 
{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
color: #FFFFFF !important;
letter-spacing: 0.2px;
line-height: 44px;}

/* Arrow left: */
.arrow_left{
border: 4px solid #222527;}

/* CREATE YOUR ACCOUNT: */
.create_account_page_t{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 28px;
color: #222527;
letter-spacing: 0.77px;
line-height: 36px;}

/* You further agree to: */
.further_agree
{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
color: #575E62;
letter-spacing: 0.21px;
line-height: 20px;}

body{
	margin:20px;
}

/* Rectangle: */
/* TextInput bg: */
.text_input_box{

/*padding-left:10%;*/
/*padding-right:10%;*/
opacity: 0.75;
background: #FAFAFA;
box-shadow: 0 20px 40px 0 rgba(0,0,0,0.25);
border-radius: 2px;
}

/* Virtual Items: */
.tab_sel_text{

font-family: HelveticaNeue;
font-size: 14px;
color: #0E2687;
letter-spacing: 0.41px;}

/* Number of Virtual It: */
.small_tab_sel{

font-family: HelveticaNeue;
font-size: 12px;
color: #5A5A5A;
letter-spacing: 0.35px;}

/* Bottom Bar bg: */
.bottom_bar_box{
opacity: 0.35;
background: #000000;
z-index:20;}

/* Tab Text: */
.bar_box_text
font-family: HelveticaNeue-Light;
font-size: 12px;
color: #FFFFFF;
letter-spacing: 0.35px;}

/* Record Button */
/* BG: */
.record_background{
background: #FAFBFC;
box-shadow: 0 10px 40px 0 rgba(0,0,0,0.25);}
/* Icon: */
.record_icon{
background: #F70064;}

.selection_Box{
    width:100%; position: absolute;left: 30%;top: 50%;
-webkit-transform: translate(-0%, -50%);
	-ms-transform: translate(-0%, -50%);
	transform: translate(-0%, -50%);}

	.is-table-row {
            display: table;
        }
        .is-table-row [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: top;
        }

        .select_size{
        width: 100%;
        padding-left: 2px;
        padding-right: 2px;
        margin-left: 2px;
        margin-right: 2px;
        padding-top:20%;
        padding-bottom:20%;
        margin-top: 50%;

        }

        .options_txt{
        font-family: HelveticaNeue-Light;
        font-size: 20px;
        color: #2c2c2c;
        letter-spacing: 0.35px;}

        .vcenter{
        padding-top:5%;
         display: absolute;
             align-items: center;}
.img-thumbnail{
border-color: #FFFFFF;
border-width: 4px;
}
.img-thumbnail:hover, .img-thumbnail:focus {
    border-color: #08c;
    -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    -moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
    box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}

.not_available{
opacity: 0.4;
border-width: 0px;
                   filter: alpha(opacity=40); /* msie */
                   background-color: #000;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #bcddfe;
  border-right: 10px solid #eeeeee ;
  border-bottom: 10px solid #bcddfe;
  border-left: 10px solid #eeeeee;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {


		}
/* Button bg: */
.Stop_bg
{

padding-top:2%;
border-radius: 50%;
width:60px;
height:60px;}


.canvas_graph{
height:10vh;

background:rgba(246, 246, 246, 0.5);
margin-bottom:15px;
margin-top:15px;
}

.option{
    font-color:red;
}

.lbl1 {
color: rgba( 255, 0, 0 ,1)}
.lbl2 {
color: rgba( 0, 255, 0 ,1)
}
.lbl3 {
color: rgba( 0, 0, 255 ,1)
}
.lbl4 {
color: rgba( 0, 255, 255 ,1)
}
.lbl5 {
color: rgba( 89 , 89 , 128 ,1)
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  .legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;
  }


            #btn-close-modal {
                width:100%;
                text-align: center;
                cursor:pointer;
                color:#fff;
            }

            .navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}
.navbar .a {
 color:#ffffff;
}
@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.white_text{
color:#ffffff;

}
 .axis path {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: Lato;
            font-size: 13px;
        }